.title_cos {
  width: 150%;
  color: white;
}

.box-logF {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 110%;
    background-color: rgba(255, 255, 255, 0.578);
    border-radius: 5px;
  }


  @media screen and (max-width: 1290px) {
    .box-logF {
      width: 160%;
    }
   
  }
  @media screen and (max-width: 1236px) {
    .box-logF {
      width: 160%;
    }
  }
  @media screen and (max-width: 1194.4px) {
    .box-logF {
      width: 160%;
    }
  }
  @media screen and (max-width: 1140px) {
      .box-logF {
          width: 160%;
        }
  }
  @media screen and (max-width: 952px) {
      .box-logF {
          width: 180%;
          height:65%;
          margin-left: -100px;
        }
        .title_cos{
            margin-left:-100px;
          }
       
        
  }
  @media screen and (max-width: 841.60px) {
      .box-logF {
          width: 200%;
          height: 70%;
          
      }
      .title_cos{
        font-size: 27px;
      }
  }
  @media screen and (max-width: 706.40px) {
      .box-logF {
          width: 230%;
        }
  }
  @media screen and (max-width: 642.40px) {
      .box-logF {
          width: 250%;
        }
  }
   
  @media screen and (max-width: 564px) {
      
        .box-logF{
          margin-left: -100px;
          width: 280%;
          height: 100%;
        }
        .title_cos{
            margin-left:-100px;
            width: 320%;
          }
  }
  
  @media screen and (max-width: 503.20px) {
    .box-logF{
          margin-left: -115px;
          width: 340%; 
          height: 70%;

        }
        .title_cos{
            margin-left:-115px;
            width: 300%;
            font-size: 20px;
          }
        
      
  }
  @media screen and (max-width: 403.2px) {
      .box-logF{
          margin-left: -120px;
          width: 380%;
          height: 80%;

        }
   .title_cos{
          margin-left:-115px;
          width: 300%;
          font-size: 20px;
        }
        .part-option {
          margin-bottom: 90px;
        }
        .part-option p {
          font-size: 13px;
        }
        .part-option {
          margin-bottom: 40px;
        }
  }
  @media screen and (max-width: 360px) {
      .part_but :nth-child(0n + 1) {
          width: 90%;
        }
        .part-log input {
          width: 80%;
        }
        .part_but :nth-child(0n + 3) {
          width: 140%;
        }
        .box-logF{
          margin-left: -115px;
          width: 380%;
        }
      
    }
